.sidebar {
  width: 14rem;
  background: white;
  height: 100%;
  margin-top: 3%;
  box-shadow: 0px 1px 16px 3px #908b8b45;
}
.mainListingPage {
  margin: auto;
  height: 90%;
  display: flex;
}
.mainDiv {
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(212, 206, 206, 0.74) 0%,
    rgba(168, 169, 171, 0.74) 100%,
    rgb(229, 12, 255) 100%,
    rgb(160, 0, 255) 100%
  );
}
.customerData {
  width: 100%;
  height: 95%;
  margin-top: 3%;
}
.searchInput {
  width: 100%;
  height: 3rem;
}
table {
  width: 100%;
}
.customerTable {
  height: 90%;
  width: 92%;
  margin: auto;
  margin-top: 34px;
  background: white;
  overflow: scroll;
}
.maincustomerTable {
  height: 95%;
  padding: 10px;
  background: #ffffff7a;
}
.table {
  height: 50%;
  padding-top: 2rem;
}
.Tabs.active {
  padding: 4rem 1rem 4rem 1rem;
  background: #00adff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.Tabs {
  padding: 4rem 1rem 4rem 1rem;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.basicForm {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
.basicForm > input {
  height: 2rem;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 1.4rem;
  color: gray;
  margin-top: 1rem;
}
.basicForm > button {
  margin-top: 21px;
  padding: 10px;
  border: none;
  background: #3fadf8;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 8px;
}
.fa {
  margin-left: 1rem;
}
.parentButton {
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
  flex-direction: column;
}
.storeButton {
  background: #1da51dbf;
  opacity: 0.7;
  padding: 12px 1rem 12px 1rem;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
.storeButton:hover {
  box-shadow: 0px 0px 5px 1px #1da51dbf;
}
.fetchButton:hover {
  box-shadow: 0px 0px 5px 1px #1d20a5bf;
}
.fetchButton {
  background: #1d20a5bf;
  opacity: 0.7;
  padding: 12px 1rem 12px 1rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 16px;
}
.innerButton {
  display: flex;
  justify-content: inherit;
}
/* mobile */
@media only screen and (max-width: 750px) {
  .mainListingPage {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    margin: 0;
  }
  .Tabs {
    padding: 1rem 1rem 1rem 1rem;
  }
  .Tabs.active {
    padding: 1rem 1rem 1rem 1rem;
  }
  .maincustomerTable {
    background: linear-gradient(
      90deg,
      rgba(191, 193, 243, 0.74) 0%,
      rgb(129, 151, 243) 100%,
      rgb(229, 12, 255) 100%,
      rgb(160, 0, 255) 100%
    );
  }
  .basicForm {
    flex-direction: column;
    align-items: center;
    background: white;
  }
  .searchInput {
    width: 83%;
    height: 3rem;
    border-radius: 18px;
    border: none;
  }
  .fetchButton {
    padding: auto;
    font-size: 1rem;
  }
  .storeButton {
    padding: auto;
    font-size: 1rem;
  }
}
